In [1]:
import pandas as pd

In [2]:
movies = [
    ("Eternal Sunshine of the Spotless Mind", 20000000),
    ("Memento", 9000000),
    ("Requiem for a Dream", 4500000),
    ("Pirates of the Caribbean: On Stranger Tides", 379000000),
    ("Avengers: Age of Ultron", 365000000),
    ("Avengers: Endgame", 356000000),
    ("Incredibles 2", 200000000)
]

In [3]:
new_movie = input("Do you want to enter new movies? (Y/N): ").strip().upper()
if new_movie=="Y":
    new_movie=int(input("enter how many movie do you want to??"))
    for i in range(new_movie):
        name=input("enter movie name")
        budget=int(input("enter movie budget"))
        new_movie=(name,budget)
        movies.append(new_movie)
        df=pd.DataFrame(movies,columns=["movies","budget"])
print(df)

Do you want to enter new movies? (Y/N): y
enter how many movie do you want to??2
enter movie nameharry potter
enter movie budget390000000
enter movie namelife
enter movie budget30000000
                                        movies     budget
0        Eternal Sunshine of the Spotless Mind   20000000
1                                      Memento    9000000
2                          Requiem for a Dream    4500000
3  Pirates of the Caribbean: On Stranger Tides  379000000
4                      Avengers: Age of Ultron  365000000
5                            Avengers: Endgame  356000000
6                                Incredibles 2  200000000
7                                 harry potter  390000000
8                                         life   30000000

In [4]:
df=pd.DataFrame(movies)
df=pd.DataFrame(movies,columns=["movies","budget"])
movies_average_budget=df['budget'].mean()
print(f"average:{movies_average_budget}")
movies_above_average_budget=df[df['budget']>movies_average_budget]
print(movies_above_average_budget)
for index, row in movies_above_average_budget.iterrows():
    movie=row["movies"]
    total_budget_diff = row["budget"] - movies_average_budget
    print(f"movie:{movie},---Movie budget difference-----:{total_budget_diff}")

average:194833333.33333334
                                        movies     budget
3  Pirates of the Caribbean: On Stranger Tides  379000000
4                      Avengers: Age of Ultron  365000000
5                            Avengers: Endgame  356000000
6                                Incredibles 2  200000000
7                                 harry potter  390000000
movie:Pirates of the Caribbean: On Stranger Tides,---Movie budget difference-----:184166666.66666666
movie:Avengers: Age of Ultron,---Movie budget difference-----:170166666.66666666
movie:Avengers: Endgame,---Movie budget difference-----:161166666.66666666
movie:Incredibles 2,---Movie budget difference-----:5166666.666666657
movie:harry potter,---Movie budget difference-----:195166666.66666666